<html>

<head>
<title>Excercisie 1B</title>
</head>

<body>


<p>Define the Variables</p>

the Mean:
<!--begin.rcode
mu=10
mean<-mu
mean
end.rcode-->

the variance:
<!--begin.rcode fig.width=7, fig.height=6
v2=mu+mu^2*2
variance <- v2
end.rcode-->

<p> Define the negative binomial distribution to x1 </p>

<!--begin.rcode
x1 <- rnbinom(100, mu = 10, size = 2)
end.rcode-->

<p> Create a histogram <p>

<!--begin.rcode
h1<-hist(x1, breaks = 20, main= paste("Histogramm of negative binomia-distribution with mean=10 and sd=210"), col="lightblue")
end.rcode-->

<!--begin.rcode
log_x1<- log10(x1+1)
h2<-hist(log_x1, breaks = 20, main= paste("Histogramm of negative binomia-distribution (log) with mean=10 and sd=210"), col="lightpink")
end.rcode-->

Variance and mean in line:

The variance and the mean can be calculated with the formula variance= mean+mean^2*dispersion. By using the Formula with a mean of `r mean`und a dispertion of 2 we obtein wor the variance `r variance`



</body>
</html>
